<% include ../partials/header %>

<div class="container">
  <div class="row">
    <h1 class="center">Create a New Campground</h1>
    <div class="form-spacing">
      <form action="/campgrounds" method="POST">
        <div class="form-group">
          <input class="form-control" type="text" name="name" placeholder="name">
        </div>
        <div class="form-group">
          <input class="form-control" type="text" name="image" placeholder="image url">
        </div>
        <div class="form-group">
          <input class="form-control" type="number" name="price" placeholder="price" min="0.01" step="0.01">
          <!-- min value is so it can't go below 1 center; and step is the little arrow at the left that will allow the user to "step up" the value by one penny at a time. -->
        </div>
        <div class="form-group">
          <input class="form-control" type="text" name="description" placeholder="description">
        </div>
        <div class="form-group">
          <button class="btn btn-lg btn-primary btn-block">Submit!</button>
        </div>
      </form>
      <a href="/campgrounds">Go Back</a>
    </div>
  </div>

</div>

<% include ../partials/footer %>
